input[type] {
	border: 5px solid red;
}

input[type="tel"] {
	border: 5px solid yellow;
}

input[title~="pole"] {
	border: 5px solid green;
}

input[title*="pole"] {
	border: 5px solid grey;
}

input[title^='zacz'] {
	border: 5px solid orange;
}

input[title$='ie'] {
	border: 5px solid violet;
}

