/*
html {
	font-size: 16px;
}

#jednostki-miary > div {
	background-color: rgba(45, 167, 212, 0.5);
	margin-bottom: 10px;
}

#piksele {
	width: 400px;
}

#em {
	width: 100em;
}

#procenty {
	width: 50%;	
}

#vh {
	width: 50vh;
}

#main-nav ul li {
	display: inline-block;
	background: red;
	padding: 10 px;
	width: 100px;
	height: 20px;
	text-align: center;
}

.uklad-inner {
	float: left;
	width: 33.33333%;
	height: 200px;
	background-color: green;
}

.clear {
	clear: both;
}

#tranzycja {
	height: 200px;
	background-color: orange;
	width: 30%;
}

#tranzycja:hover {
	width: 50%;
	background-color: blue;
	transition-property: background-color;
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: ease-in;
}
*/

#square {
	height: 150px;
	width: 150px;
	margin: 10px auto;
	transition: all 0.4s;
}

.czerwony {
	background-color: red;
}

.czerwony:hover {
	width: 300px;
}

.niebieski {
	background-color: blue;
}

.niebieski:hover {
	height: 300px;
}

.zielony {
	background-color: green;
}

.zielony:hover {
	width: 300px;
	height: 300px;
}










