* {
	color: red;
}

p.green {
	color:blue;
}

p::before {
	content: '* ';
		color: green;
}

p::after {
	content: ' xXx';
	color: black;
}

a:hover {
	color: yellowgreen;
}

p:hover {
	color: crimson;
}

input:focus {
	border: 3pxsolid blue;
}

/*
ul .list-item:first-child {
	color: gray;
}*/

ul .list-item:first-of-type {
	color: gray;
}

/*
ul .list-item:nth-of-type(4) {
	color: blue;
}
*/

/*
ul .list-item:nth-of-type(even) {
	color: aquamarine;
}
*/

/*
ul .list-item:nth-of-type(2n +1) {
	color: blueviolet;
}
*/

ul .list-item:last-of-type(even) {
	color: chartreuse;
}





















