#tlo {
	height: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.kym-cdn.com/photos/images/original/001/311/274/7be.jpg)
}

#overflow {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}
