#counter {
    border: 1px solid darkblue;
    padding: 35px;
    width: 350px;
    margin: 30px auto;
}

#counter > div {
    padding: 15px;
}

.value {
    margin-left: 10px;
    font-size: 2rem;
    color: chocolate;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #0066ff;
    color: #fff;
    transition: all .2s;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #003399;
}

button:last-of-type {
    background-color: #ee4466;
}

button:last-of-type:hover {
    background-color: #f48686;
}

