.box {
	width: 300px;
	height: 150px;
	border: 1px solid red;
	margin: 10px;
}

.visible {
	color: green;
	overflow: visible;
}

.hidden {
	overflow: hidden;
	color: red;
}

.scroll {
	overflow: scroll;
	color: blue;
}

.auto {
	overflow: auto;
	color: violet;
}
